<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget appId="0" channelCode="0000" height="480" pid="" sreensize="4.5" version="00.00.0001" viewmode="application" widgetId="" width="320">
	
	<name>乐品汇</name>
	<description/>
	<author email=""> </author>
	<icon src="icon.png"/>
	<license href=""/>
	<content encoding="utf-8" src="index.html"/>
	<updateurl>http://svn.appcan.cn/sourceCode/114/772/73/trunk</updateurl>
	<logserverip>192.168.1.186</logserverip> 
	<showmyspace>false</showmyspace>
	<obfuscation>false</obfuscation>
	<bgcolor>#fefefe</bgcolor>
	<orientation>15</orientation>
<debug>true</debug>
<partobfuscation>false</partobfuscation>
<webapp>false</webapp>
</widget>
